@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171717;
}

.success-box {
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  width: 400px;
}

h2 {
  color: #00FF66;
}

p {
  color: #555;
}

.success-box .tag {
  color: green;
  margin-bottom: 10px;
}

.success-box .value {
  color: white;
}

.success-box h2 span {
  color: white;
}

.success-box h2 strong {
  color: white;
}

.topp-circle {
  height: 4rem;
  width: 4rem;
  background-color: #00FF66;
  position: absolute;
  border-radius: 50%;
  top: 5.1rem;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  color: black;
  text-decoration: none;
}
