@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #171717;
  }
  
  .success-box {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
    width: 400px;
  }
  
  h2 {
    color: #00ff66;
  }
  
  p {
    color: #555;
  }
  